[submodule "curtisvermeeren.github.io/public"]
	path = curtisvermeeren.github.io/public
	url = https://github.com/CurtisVermeeren/curtisvermeeren.github.io.git
	branch = main
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
